/*div{
    border: black solid 1px;*/
/*}*/

/*ctrl*/
/*# is id*/
#nav ul{
    /*remove bullet points*/
    list-style-type: none;
    /* no space between ul and nav div*/
    margin: 0;
    padding: 0;
    background-color: #ffb861;
    border: red solid 1px;
}

#nav  li{
    /*move text to center for*/
    text-align: center;

    /*move all list items to one line*/

    display: inline;
}
#nav li a{
    color: black;
    margin: 10px;

    /*remove the --- for my hyperlink*/
    text-decoration: none;
}
#nav li a:hover{
    /*background-color: grey;*/
    /*font-style: italic;*/
    transform: scale(1.5,1.5);
}
#nav li img{
    width: 80px;
    height: 80px;
}
/*animation*/
/* 1 div setup*/
#animation{
    width: 100px;
    height: 100px;
    background-color: darksalmon;
    /* thirdly setup animation*/
    animation-name: firstAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
/*secondly create keyframe*/
@keyframes  firstAnimation {
    /*in keyframe we will change from ... to ...*/
    from {background-color: darksalmon}
    to {background-color: red}

}

#animation2{
    /*absolute -- locate by screen*/
    /*relative -- locate by previous location -- I recommend*/
    /*fixed -- screen but never change*/
    position: relative ;
    width: 100px;
    height: 100px;
    background-color: darkblue;
    animation-name: animation2;
    animation-duration: 5s;
    animation-iteration-count: 3;
}

@keyframes animation2 {
    0% {background-color: darksalmon; left: 0px; top: 0px; font-size: 15px;}
    20% {background-color: red; left: 400px; top: 0px; font-size: 50px;}
    40% {background-color: aqua; left: 400px; top: 400px; font-size: 100px;}
    60% {background-color: gold; left: 0px; top: 400px; font-size: 50px;}
    80% {background-color: darkorange; left: 0px; top: 0px; font-size: 15px;}
    100% {background-color: darkred}
}

#imageAnimation img{
    animation-timing-function: ease;
    animation-name: imageRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: translate(200px, 100px);
    transform: skew(15deg, 15deg);

}
/*@keyframes create animation in css*/
@keyframes imageRotate {
        from {transform: rotate(0deg);}
        to {transform: rotate(359deg);}

}




